{% extends 'super.html' %}
<meta charset="UTF-8">
{% block title %}О нас{% endblock %}
{% block body %}
<div style="background: white;padding-left: 20px;padding-top: 20px;padding-bottom: 20px;margin-left: 50px;margin-right: 50px">
<pre>"""
справведливость - это оружие,
оно может причинить боль,
но не может защищать
и спасать людей"""

"Дазай Осаму"
"""Не бывает безвыходных ситуаций.
Бывают ситуации, выход из которых тебя не устраивает."""
"Нара Шикамару"

"""Всем доброе утро! Сегодня я что-то заблудился на жизненном пути..."""
"Какаши Хатаке"
</pre>
</div>
{% endblock %}
