<!DOCTYPE html>
<html>
<head>
    <title>Tests Data</title>
</head>
<body>
<h1>Tests Data</h1>
{% if request.method == 'GET' %}
<form action="/check/{{ data['questions']['question_id'] }}" method="post">
    <ul>
        {% for task in data['questions']['question'].split(', ') %}
        <li>{{ task }}</li>
        <input type="text" id="answer{{ loop.index }}" name="answer{{ loop.index }}">
        {% endfor %}
    </ul>
    <button type="submit">Check Answers</button>
</form>
{% endif %}
{% if request.method == 'POST' %}
<h2>Results:</h2>
<ul>
    {% for task, user_answer in zip(data['questions']['answer_options'].split(', '), user_data) %}
    <li>{{ task }} - User Answer: {{ user_answer }}</li>
    {% if user_answer == task %}
    <span style="color: green;">Correct!</span>
    {% else %}
    <span style="color: red;">Incorrect.</span>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
</body>
</html>
