{% extends 'super.html' %}

{% block title %}Вход{% endblock %}

{% block body %}
    <div class="container">
        <h2>Registration Form</h2>
        <form action="/login" method="post">
            <label for="nickname">Name:</label>
            <input type="text" id="nickname" name="nickname" placeholder="Ваше никнейм.." required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Ваш пароль.." required>

            <input type="submit" value="Login">
        </form>
    </div>
{% endblock %}
