{% extends 'super.html' %}

{% block title %}Вход{% endblock %}

{% block body %}
<div class="container">
    <h2>Registration Form</h2>
    <form action="/login" method="post">
        <div>
            <label for="nickname">Name:</label>
            <input type="text" id="nickname" name="nickname" placeholder="Ваше никнейм.." required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Ваш пароль.." required>
        </div>
        <div>
            <input type="submit" value="Login">
            <a style="text-align: right;margin-top:12px; float: right" href="/get_password">Забыли пароль ?</a>
        </div>
    </form>

</div>
{% endblock %}
