<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'super.html' %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block links %}
        <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/regestor.css')}}">
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
    <form action="/" method="POST">
        {% block task %}
        {% for i in lst %}
        {% fot j in i %}

        <p>{{i}}</p>
        {% endfor %}
        {% endfor %}
        {% endblock %}
    </form>
</body>
</html>