{% extends 'super.html' %}
{% block title %}
    Tests Data
{% endblock %}
{% block body %}
<h1>Tests Data</h1>
{% if request.method == 'GET' %}
<form action="#" method="post">
    <ul>
        {% for task in data['questions']['question'].split(', ') %}
        <li>{{ task }}</li>
        <input type="text" id="answer{{ loop.index }}" name="answer{{ loop.index }}">
        {% endfor %}
    </ul>
    <button type="submit">Check Answers</button>
</form>
{% endif %}
{% if request.method == 'POST' %}
<h2>Results:</h2>
<ul>
    {% for task, user_answer in zip(data['questions']['answer'].split(', '), user_data) %}
    <li>{{ task }} - User Answer: {{ user_answer }}</li>
    {% if user_answer == task %}
    <span style="color: green;">Correct!</span>
    {% else %}
    <span style="color: red;">Incorrect.</span>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
